<section class="banner">
	//= menu.html

	<div class="banner-fl">
		<div class="banner-fl-wrapper header-container">
			<div class="banner-fl_notice">
				<p class="banner-fl_notice-txt">
					Take your<br>knowledge<br>anywhere!
				</p>
			</div>
			<!-- Slider main container -->
			<div class="banner-fl_slider slider">
				<div class="swiper-container">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Slides -->
						<div class="swiper-slide">
							<div class="slider_content">
								<h3 class="slider_title">
									Pocket-On-the-Go<br>Mobile App
								</h3>
								<div class="slider_content-box">
									<div class="slider_img">
										<img src="img/tel.png" alt="telephone with app">
									</div>
									<div class="slider_text">
										<p class="slider_over">only</p>
										<div class="slider_price-wrapper">
											<p class="slider_price">7.95</p>
										</div>
										<p class="slider_desc">
											For Preferred Members<br>
											only to gift to their<br>
											team members<br>
											and friends.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slider_content">
								<h3 class="slider_title">
									Pocket-On-the-Go<br>Mobile App
								</h3>
								<div class="slider_content-box">
									<div class="slider_img">
										<img src="img/tel.png" alt="telephone with app">
									</div>
									<div class="slider_text">
										<p class="slider_over">only</p>
										<p class="slider_price">7.95</p>
										<p class="slider_desc">
											For Preferred Members<br>
											only to gift their<br>
											team members<br>
											and friends.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slider_content">
								<h3 class="slider_title">
									Pocket-On-the-Go<br>Mobile App
								</h3>
								<div class="slider_content-box">
									<div class="slider_img">
										<img src="img/tel.png" alt="telephone with app">
									</div>
									<div class="slider_text">
										<p class="slider_over">only</p>
										<p class="slider_price">7.95</p>
										<p class="slider_desc">
											For Preferred Members<br>
											only to gift their<br>
											team members<br>
											and friends.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- pagination -->

					<!-- navigation buttons -->

				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>

	<div class="banner-sl">
		<div class="main-container">
			<div class="banner-sl-wrapper">
				//= tiles.html
			</div>
		</div>
	</div>
</section>
