<section class="section _odd">
	<div class="section_wrapper main-container">
		<h2 class="section_title _odd">best sellers</h2>

		<div class="section_content">
			<div class="section_item card">
				<img class="card_img" src="img/bs1.jpg" alt="reference guide" />

				<div class="card_title-wrapper">
					<a class="card_link" href="#!">
						<h3 class="card_title">
							7th edition essential oil<br />
							quick reference guide
						</h3>
					</a>
				</div>

				<div class="card_prices">
					<div class="card_price _retail">3.50</div>
					<div class="card_price _price">2.50</div>
					<div class="card_price _member">1.95</div>
				</div>

				<a class="card_add-to-cart" href="#">add to cart</a>
				<a class="card_add-to-wishlist" href="#">add to wishlist</a>

				<div class="card_rollover">
					<a class="card_quick-view" id="popup" data-fancybox data-src="#dialog-content" href="#!">quick view&nbsp;</a>
					|
					<a class="card_buy-now" href="#!">&nbsp;buy now</a>
				</div>
			</div>

			<div class="section_item card">
				<img class="card_img" src="img/bs2.jpg" alt="desk reference" />

				<div class="card_title-wrapper">
					<a class="card_link" href="#">
						<h3 class="card_title">
							7th edition essential<br />
							oils desk reference
						</h3>
					</a>
				</div>

				<div class="card_prices">
					<div class="card_price _retail">49.95</div>
					<div class="card_price _price">44.95</div>
					<div class="card_price _member">35.95</div>
				</div>

				<a class="card_add-to-cart" href="#">add to cart</a>
				<a class="card_add-to-wishlist" href="#">add to wishlist</a>

				<div class="card_rollover">
					<a class="card_quick-view" id="popup" data-fancybox data-src="#dialog-content" href="#!">quick view&nbsp;</a>
					|
					<a class="card_buy-now" href="#!">&nbsp;buy now</a>
				</div>
			</div>

			<div class="section_item card">
				<img class="card_img" src="img/bs3.jpg" alt="oil + grass" />

				<div class="card_title-wrapper">
					<a class="card_link" href="#">
						<h3 class="card_title">oil + grass</h3>
					</a>
				</div>

				<div class="card_prices">
					<div class="card_price _retail">30.00</div>
					<div class="card_price _price">24.00</div>
					<div class="card_price _member">24.00</div>
				</div>

				<a class="card_add-to-cart" href="#">add to cart</a>
				<a class="card_add-to-wishlist" href="#">add to wishlist</a>

				<div class="card_rollover">
					<a class="card_quick-view" id="popup" data-fancybox data-src="#dialog-content" href="#!">quick view&nbsp;</a>
					|
					<a class="card_buy-now" href="#!">&nbsp;buy now</a>
				</div>
			</div>

			<div class="section_item card">
				<img class="card_img" src="img/bs4.jpg" alt="fast and fabulous" />

				<div class="card_title-wrapper">
					<a class="card_link" href="#">
						<h3 class="card_title">150 uses: fast and fabulous</h3>
					</a>
				</div>

				<div class="card_prices">
					<div class="card_price _retail">4.50</div>
					<div class="card_price _price">3.50</div>
					<div class="card_price _member">2.25</div>
				</div>

				<a class="card_add-to-cart" href="#">add to cart</a>
				<a class="card_add-to-wishlist" href="#">add to wishlist</a>

				<div class="card_rollover">
					<a class="card_quick-view" id="popup" data-fancybox data-src="#dialog-content" href="#!">quick view&nbsp;</a>
					|
					<a class="card_buy-now" href="#!">&nbsp;buy now</a>
				</div>
			</div>
		</div>
	</div>
</section>
