<section class="section _even _fp">
	<div class="section_wrapper main-container">
		<h2 class="section_title _even _fp">featured products</h2>

		<div class="section_content">
			<div class="section_item card">
				<img class="card_img" src="img/fp1.jpg" alt="" />

				<div class="card_title-wrapper">
					<a class="card_link" href="#">
						<h3 class="card_title">
							1yh edition essential oils animal desk reference
						</h3>
					</a>
				</div>

				<div class="card_prices">
					<div class="card_price _retail _even">75.00</div>
					<div class="card_price _price">50.00</div>
					<div class="card_price _member">38.40</div>
				</div>

				<a class="card_add-to-cart" href="#">add to cart</a>
				<a class="card_add-to-wishlist" href="#">add to wishlist</a>

				<div class="card_rollover">
					<a class="card_quick-view" id="popup" data-fancybox data-src="#dialog-content" href="#!">quick view&nbsp;</a>
					|
					<a class="card_buy-now" href="#!">&nbsp;buy now</a>
				</div>
			</div>

			<div class="section_item card">
				<img class="card_img" src="img/fp2.jpg" alt="" />

				<div class="card_title-wrapper">
					<a class="card_link" href="#">
						<h3 class="card_title">aroma infant</h3>
					</a>
				</div>

				<div class="card_prices">
					<div class="card_price _retail _even">13.50</div>
					<div class="card_price _price">11.95</div>
					<div class="card_price _member">9.95</div>
				</div>

				<a class="card_add-to-cart" href="#">add to cart</a>
				<a class="card_add-to-wishlist" href="#">add to wishlist</a>

				<div class="card_rollover">
					<a class="card_quick-view" id="popup" data-fancybox data-src="#dialog-content" href="#!">quick view&nbsp;</a>
					|
					<a class="card_buy-now" href="#!">&nbsp;buy now</a>
				</div>
			</div>

			<div class="section_item card">
				<img class="card_img" src="img/fp3.jpg" alt="" />

				<div class="card_title-wrapper">
					<a class="card_link" href="#">
						<h3 class="card_title">
							private collection 1st and Edition dest reference bundle
						</h3>
					</a>
				</div>

				<div class="card_prices">
					<div class="card_price _retail _even _3x">150.00</div>
					<div class="card_price _price _3x">129.00</div>
					<div class="card_price _member">99.00</div>
				</div>

				<a class="card_add-to-cart" href="#">add to cart</a>
				<a class="card_add-to-wishlist" href="#">add to wishlist</a>

				<div class="card_rollover">
					<a class="card_quick-view" id="popup" data-fancybox data-src="#dialog-content" href="#!">quick view&nbsp;</a>
					|
					<a class="card_buy-now" href="#!">&nbsp;buy now</a>
				</div>
			</div>

			<div class="section_item card">
				<img class="card_img" src="img/fp4.jpg" alt="" />

				<div class="card_title-wrapper">
					<a class="card_link" href="#">
						<h3 class="card_title">cats 101 mini booklet</h3>
					</a>
				</div>

				<div class="card_prices">
					<div class="card_price _retail _even">4.00</div>
					<div class="card_price _price">3.00</div>
					<div class="card_price _member">2.50</div>
				</div>

				<a class="card_add-to-cart" href="#">add to cart</a>
				<a class="card_add-to-wishlist" href="#">add to wishlist</a>

				<div class="card_rollover">
					<a class="card_quick-view" id="popup" data-fancybox data-src="#dialog-content" href="#!">quick view&nbsp;</a>
					|
					<a class="card_buy-now" href="#!">&nbsp;buy now</a>
				</div>
			</div>
		</div>
	</div>
</section>
