<footer class="footer">
	<div class="footer-wrapper main-container">
		<div class="footer_contacts">
			<a href="#!"><img class="footer_logo" src="img/footer-logo.jpg" alt="logo" /></a>
			<a href="tel:1.800.336.6308">
				<p class="footer_phone">1.800.336.6308</p>
			</a>
			<div class="footer_contact">
				Life Science Publishing<br />
				520 S. 850 E., Unit C6<br />
				Lehi, UT 84043
			</div>
		</div>

		<div class="footer_links">
			<div class="footer_navigation">
				<h3 class="footer_title">navigation</h3>

				<ul class="footer_nav_list">
					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Accessories </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Best Sellers </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Books-Brochures </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Diffusers </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Monthly Specials </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Share-Training Tools </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Video-Audio </a>
					</li>
				</ul>
			</div>

			<div class="footer_navigation">
				<h3 class="footer_title">account</h3>

				<ul class="footer_nav_list">
					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Login </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Create Account </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Forgot Password </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Customer Service </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Orders and Returns </a>
					</li>
				</ul>
			</div>

			<div class="footer_navigation">
				<h3 class="footer_title">company</h3>

				<ul class="footer_nav_list">
					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Contact Us </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Terms &amp; Conditions </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Privacy Policy </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> About Us </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Site Map </a>
					</li>

					<li class="footer_nav-item">
						<a class="footer_nav-link" href="#"> Internet Use Policy </a>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer_other">
			<div class="footer_socials">
				<a href="" class="footer_social-link">
					<img class="footer_social-img" src="img/mail.svg" alt="" />
				</a>

				<a href="" class="footer_social-link">
					<img class="footer_social-img" src="img/fb.svg" alt="" />
				</a>

				<a href="" class="footer_social-link">
					<img class="footer_social-img" src="img/twitter.svg" alt="" />
				</a>
			</div>

			<div class="footer_last">
				<p class="footer_slogan">
					Yesterday&#39;s Wisdom<br />
					<span class="footer_slogan _big">Today&#39;s</span>
					<span class="footer_slogan _green">Discovery</span>
				</p>

				<p class="footer_copyright">
					&copy;2018 Life Science Publishing<br />
					All rights reserved.
				</p>
			</div>
		</div>
	</div>
</footer>
