<header class="header">
	<div class="header-fl">
		<div class="header-fl-wrapper header-container">
			<div class="header-fl_item">
				<a class="header-fl_signin" href="#!">sing in</a>
			</div>

			<div class="header-fl_item">
				<select name="lang" id="lang" style="display: none">
					<option value="en" data-imagesrc="img/um.svg">United States</option>
					<option value="ru" data-imagesrc="img/ru.svg">Russia</option>
					<option value="ua" data-imagesrc="img/ua.svg">Ukraine</option>
				</select>
			</div>

			<div class="header-fl_item">
				<a class="header-fl_cart" href="#!">
					<span class="header-fl_cart-fullness">1</span>
				</a>
			</div>
		</div>
	</div>

	<div class="header-sl">
		<div class="header-sl-wrapper header-container">
			<div class="header-sl_left">
				<div class="header-sl_logo">
					<a href="#!"
						><img class="header-sl_logo-img" src="img/LSP-logo.png" alt="logo"
					/></a>
				</div>

				<div class="header-sl_separator"></div>

				<div class="header-sl_slogan slogan">
					<p class="header-sl_slogan _first">your oils</p>
					<p class="header-sl_slogan _second">our tools!</p>
				</div>
			</div>

			<div class="header-sl_right">
				<div class="header-sl_search">
					<input class="header-sl_input" type="text" placeholder="Search" />
				</div>

				<a href="tel:1.800.336.6308">
					<div class="header-sl_phone">1.800.336.6308</div>
				</a>
			</div>
		</div>
	</div>
</header>
