<div class="images">
	<div class="images__container">
		<div class="images__flex">
			<div class="images__col">
				<div class="images__thumbs">
					<div class="swiper-container"> <!-- Слайдер с превью -->
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="images__image"><img src="img/product-thumb-1.jpg" alt=""/></div>
							</div>
							<div class="swiper-slide">
								<div class="images__image"><img src="img/product-thumb-2.jpg" alt=""/></div>
							</div>
							<div class="swiper-slide">
								<div class="images__image"><img src="img/product-thumb-3.jpg" alt=""/></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="images__images">
				<div class="swiper-container"> <!-- Слайдер с изображениями -->
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="images__image"><img src="img/product-img-1.jpg" alt=""/></div>
						</div>
						<div class="swiper-slide">
							<div class="images__image"><img src="img/product-img-2.jpg" alt=""/></div>
						</div>
						<div class="swiper-slide">
							<div class="images__image"><img src="img/product-img-3.jpg" alt=""/></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
