<div class="info">
	<div class="info_wrapper">
		<h1 class="info_title">1st edition essential oils animal desk reference</h1>

		<div class="info_reviews">
			<div class="info_stars">★★★★★</div>
			<div class="info_reviews-amount">4 Reviews</div>
			<a class="info_write-review" href="#">
				write a review
			</a>
		</div>

		<div class="info_status">in stock</div>

		<p class="info_short-desc">
			The long anticipated Essential Oils Animal Desk Reference is here! This amazing, full color work is packed full on invaluable, never before seen information on how to use essential oils with your animals.
		</p>

		<div class="info_prices">
				<div class="info_price _retail">150.00</div>
				<div class="info_price _price">129.00</div>
				<div class="info_price _member">99.00</div>
				<div class="info_tier">
					<div class="title">tier<br>pricing</div>
					<div class="low">As low as:</div>
					<div class="info_price _tier">79.00</div>
				</div>
		</div>

		<div class="info_cart">
			<div class="info_products-amount">
				<div class="quantity_inner">
					<button class="bt_minus">-</button>
					<input type="text" class="quantity" value="1" size="1" data-max-count="20">
					<button class="bt_plus">+</button>
				</div>
			</div>

			<a href="#" class="info_add-to-cart">
				add to cart
			</a>
		</div>

		<div class="info_others">
			<div class="info_socials">
				<p class="info_social-link _txt">share</p>

				<a class="info_social-link" href="#!" target="_blank">
					<img class="info_social-img" src="img/product-email.svg" alt="">
				</a>

				<a class="info_social-link" href="#!" target="_blank">
					<img class="info_social-img" src="img/product-fb.svg" alt="">
				</a>

				<a class="info_social-link" href="#!" target="_blank">
					<img class="info_social-img" src="img/product-twitter.svg" alt="">
				</a>

				<a class="info_social-link" href="#!" target="_blank">
					<img class="info_social-img" src="img/product-google+.svg" alt="">
				</a>

				<a class="info_social-link" href="#!" target="_blank">
					<img class="info_social-img" src="img/product-printerest.svg" alt="">
				</a>
			</div>

			<a class="info_add-to-wishlist" href="#!">
				add to wishlist
			</a>
		</div>
	</div>
</div>
