<div class="header-menu-wrapper header-container">
	<div class="container">
		<div class="nav-drop">
			<nav class="nav">
				<ul class="header-menu">
					<li class="current-menu-item">
						<a href="#">home</a>
					</li>
					<li>
						<a href="#">blowout sale</a>
					</li>
					<li>
						<a href="#">lifestyle</a>
					</li>
					<li>
						<a href="#">books</a>
					</li>
					<li>
						<a href="#">best sellers</a>
					</li>
					<li>
						<a href="#">containers</a>
					</li>
					<li>
						<a href="#">diffusers</a>
					</li>
					<li>
						<a href="#">new product</a>
					</li>
					<li>
						<a href="#">lsp difference</a>
					</li>
					<li>
						<a href="#">media</a>
					</li>
				</ul>
			</nav>
		</div>
		<button class="nav-opener"><span></span></button>
	</div>
</div>
