<section class="section _even _mp">
	<div class="section_wrapper main-container">
		<h2 class="section_title _odd _mp">You may also be interest in the following product(s)</h2>

		<div class="section_content">
			<div class="section_item card">
				<img class="card_img" src="img/bs1.jpg" alt="reference guide" />

				<div class="card_title-wrapper">
					<h3 class="card_title">
						7th edition essential oil<br />
						quick reference guide
					</h3>
				</div>

				<div class="card_prices">
					<div class="card_price _retail _even">3.50</div>
					<div class="card_price _price">2.50</div>
					<div class="card_price _member">1.95</div>
				</div>
			</div>

			<div class="section_item card">
				<img class="card_img" src="img/bs2.jpg" alt="desk reference" />

				<div class="card_title-wrapper">
					<h3 class="card_title">
						7th edition essential<br />
						oils desk reference
					</h3>
				</div>

				<div class="card_prices">
					<div class="card_price _retail _even">49.95</div>
					<div class="card_price _price">44.95</div>
					<div class="card_price _member">35.95</div>
				</div>
			</div>

			<div class="section_item card">
				<img class="card_img" src="img/bs3.jpg" alt="" />

				<div class="card_title-wrapper">
					<h3 class="card_title">oil + grass</h3>
				</div>

				<div class="card_prices">
					<div class="card_price _retail _even">30.00</div>
					<div class="card_price _price">24.00</div>
					<div class="card_price _member">24.00</div>
				</div>
			</div>

			<div class="section_item card">
				<img class="card_img" src="img/bs4.jpg" alt="" />

				<div class="card_title-wrapper">
					<h3 class="card_title">150 uses: fast and fabulous</h3>
				</div>

				<div class="card_prices">
					<div class="card_price _retail">4.50</div>
					<div class="card_price _price">3.50</div>
					<div class="card_price _member">2.25</div>
				</div>
			</div>
		</div>
	</div>
</section>
