<section class="section _odd">
	<div class="section_wrapper main-container">
		<h2 class="section_title _odd _news">news</h2>

		<div class="section_content">
			<div class="section_item new">
				<img class="new_img" src="img/n1.jpg" alt="essential sharing" />

				<div class="new_title-wrapper">
					<h3 class="new_title">
						publication spotlight:<br />
						essential sharing
					</h3>
				</div>

				<p class="new_text">
					Many people wonder were to start when it comes to building their
					essential oils buseness. It can feel overwhelming when trying to get
					your &quot;pitch&quot; right, explaining things like PV...
				</p>

				<a class="new_read" href="#">read article</a>
			</div>

			<div class="section_item new">
				<img class="new_img" src="img/n2.jpg" alt="carrot seed" />

				<div class="new_title-wrapper">
					<h3 class="new_title">the secrets of carrot seed: chemical focus</h3>
				</div>

				<p class="new_text">
					Identified by its warm and earthy, yet mildly sweet aroma, carrot seed
					essential oil has a long history of being used in ancient medecine,
					thanks to multiple healing properties. Together...
				</p>

				<a class="new_read" href="#">read article</a>
			</div>

			<div class="section_item new">
				<img class="new_img" src="img/n3.jpg" alt="bergamot" />

				<div class="new_title-wrapper">
					<h3 class="new_title">the secrets of bergamot: chemical focus</h3>
				</div>

				<p class="new_text">
					Bergamot essential oil, extracted from the Mediterranean’s bergamot
					orange tree, provides more than just a spicy-floral aroma that makes
					it one of the most used perfumery and...
				</p>

				<a class="new_read" href="#">read article</a>
			</div>

			<div class="section_item new">
				<img class="new_img" src="img/n4.jpg" alt="black pepper" />

				<div class="new_title-wrapper">
					<h3 class="new_title">the secrets of black pepper: chemical focus</h3>
				</div>

				<p class="new_text">
					More than just a spice with a warm, musky scent, black pepper
					essential oil offers users a wide variety of health and beauty
					benefits. This is largely due to its lorem ipsum dolor set amut...
				</p>

				<a class="new_read" href="#">read article</a>
			</div>
		</div>
	</div>
</section>
