<section class="section _even _ps">
	<div class="section_wrapper main-container">
		<h2 class="section_title _even _ps">promos &amp; specials</h2>

		<div class="section_content _ps">
			<div class="section_item promos_specials">
				<img class="promos_specials_img" src="img/ps1.jpg" alt="" />
			</div>

			<div class="section_item promos_specials">
				<img class="promos_specials_img" src="img/ps2.jpg" alt="" />
			</div>

			<div class="section_item promos_specials">
				<img class="promos_specials_img" src="img/ps3.jpg" alt="" />
			</div>
		</div>
	</div>
</section>
