<a class="banner-sl_tile tile _first" href="#!">
	<p class="tile_txt">check out our</p>
	<h3 class="tile_title">daily life science blog</h3>
	<img class="tile_img" src="img/blog.png" alt="blog">
	<p class="tile_add">dailylifescience.com</p>
</a>

<a class="banner-sl_tile tile _second" href="#!">
	<p class="tile_txt">become an LSP</p>
	<h3 class="tile_title">preferred member</h3>
	<img class="tile_img" src="img/card.png" alt="card">
	<p class="tile_add">Sign Up Today!</p>
</a>

<a class="banner-sl_tile tile _third" href="#!">
	<p class="tile_txt">check out our</p>
	<h3 class="tile_title">essential oil aroma series</h3>
	<img class="tile_img" src="img/books.png" alt="blog">
</a>
